In [1]:
import pandas as pd
import numpy as np

In [9]:
fd_17 = pd.read_csv('data/sf_data_10_17_field.csv')
fd_18 = pd.read_csv('data/sf_data_18_field.csv')
incident = pd.read_csv('data/combined_sf_data.csv')

In [10]:
fd_17.head()

,date,time,ampm,Year,Block address,District,PSA,FIELD CONTACT TYPE,REASON FOR STOP,Data Type,Race,Ethnicity,Sex,Age
0,1/2/12,15:27:50,NaN,2012.0,1400 BLOCK OF DOWNING ST NE,5D,505.0,Pedestrian Stop,Community Policing,Person,Black,Not Hispanic Or Latino,Male,34
1,1/5/12,19:04:30,NaN,2012.0,1700 BLOCK OF MONROE ST NE,5D,504.0,Pedestrian Stop,Call For Service,Person,Black,Not Hispanic Or Latino,Male,Juvenile
2,1/5/12,19:29:12,NaN,2012.0,1700 BLOCK OF MONROE ST NE,5D,504.0,Pedestrian Stop,Call For Service,Person,Black,Not Hispanic Or Latino,Male,Juvenile
3,1/7/12,3:12:06,NaN,2012.0,Multiple/Unknown Address,NaN,NaN,Pedestrian Stop,Truancy/curfew,Person,Black,Not Hispanic Or Latino,Female,Juvenile
4,1/7/12,3:12:06,NaN,2012.0,Multiple/Unknown Address,NaN,NaN,Pedestrian Stop,Truancy/curfew,Person,Black,Unknown,Female,Juvenile

In [11]:
fd_18.head()

,date,time,ampm,Year,Block address,District,PSA,FIELD CONTACT TYPE,REASON FOR STOP,Data Type,Race,Ethnicity,Sex,Age
0,1/1/17,3:58:41,AM,2017,1200 BLOCK OF CONNECTICUT AVENUE NW,2D,208.0,Vehicle Stop,Moving Violation,Person,White,Not Hispanic Or Latino,Male,28
1,1/1/17,4:28:24,PM,2017,1500 BLOCK OF HALF STREET SW,1D,105.0,Pedestrian Stop,Suspicious Activity,Person,Black,Unknown,Male,52
2,1/1/17,5:45:32,PM,2017,1400 BLOCK OF PENNSYLVANIA AVENUE SE,1D,108.0,Vehicle Stop,Moving Violation,Person,Black,Not Hispanic Or Latino,Male,21
3,1/1/17,5:45:32,PM,2017,1400 BLOCK OF PENNSYLVANIA AVENUE SE,1D,108.0,Vehicle Stop,Moving Violation,Person,Black,Not Hispanic Or Latino,Female,23
4,1/1/17,8:30:40,PM,2017,700 BLOCK OF 13TH STREET SE,1D,106.0,Pedestrian Stop,Suspicious Activity,Person,Black,Not Hispanic Or Latino,Male,51

In [16]:
incident.head()

,type,date,time,ampm,month,day,year,hour,min,sec,...,time_six_hour,block_num,block_name,low_range,high_range,quad,ward,lat,long,CensusTract
0,Stop & Frisk,2017-01-01,12:26:22,AM,1,1,2017,0,26,22,...,0:00:00,1200.0,18TH STREET NW,3444.0,3499.0,NW,Ward 1,38.934818,-77.041287,1.100100e+10
1,Stop & Frisk,2017-01-01,12:26:22,AM,1,1,2017,0,26,22,...,0:00:00,1200.0,18TH STREET NW,1300.0,1399.0,NW,Ward 2,38.908138,-77.041676,1.100101e+10
2,Stop & Frisk,2017-01-01,12:26:22,AM,1,1,2017,0,26,22,...,0:00:00,1200.0,18TH STREET NW,1000.0,1099.0,NW,Ward 2,38.903135,-77.041690,1.100101e+10
3,Stop & Frisk,2017-01-01,12:26:22,AM,1,1,2017,0,26,22,...,0:00:00,1200.0,18TH STREET NW,800.0,899.0,NW,Ward 2,38.900774,-77.041700,1.100101e+10
4,Stop & Frisk,2017-01-01,12:26:22,AM,1,1,2017,0,26,22,...,0:00:00,1200.0,18TH STREET NW,3400.0,3443.0,NW,Ward 1,38.934320,-77.041294,1.100100e+10

In [19]:
tract = incident.groupby('CensusTract').count()

In [28]:
tract.rename(index= str, columns={'type': 'count'}, inplace = True)
tract.reset_index(inplace=True)

In [30]:
tract = tract[['CensusTract', 'count']]

In [34]:
tract['pct'] = tract['count']/sum(tract['count'])

/Users/alenastern/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.